<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<style>
    a {
        margin-left: 40px;
        margin-right: 40px;
    }
    body{
	margin-top:50px;
	background-color: rgb(202, 243, 216);
}
.card{
	width:500px;
	height:300px;
	position:fixed;
	top:250px;
	left:440px;
	padding:10px;
    background-color:rgb(25, 51, 53);

}
.autocenter{
	float:none;
	margin:auto;
}
h1 {
    text-align: center;
    font-family: Rockwell;
    color: beige;
}
button {
    background-color:rgb(179, 214, 248);
    font-family: Rockwell;
    color: beige;

}
</style>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand/logo -->
        <a class="navbar-brand">
          <img src="icon1.png" alt="logo" style="width:100px;">
        </a>
        <!-- Links -->
        <centre>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/courselist">Course List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/faculty">Faculty</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contactus">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="font-weight: bold;font-family:Rockwell;background-color: white;font-size: 17px;color:rgb(17, 1, 54);border: 2px;border-width: 2px;border-color: black;border-radius: 20px;border-style: solid;">Aula...a digital classroom</a>
          </li>
        </ul>
    </centre>
      </nav>
      <div class="container">
		<div class="col-sm-6 autocenter">
			<div class="card">
				
					<br>
				<h1>WELCOME</h1>
				<br><br><br>
				<button class="btn btn-primary" onclick="location.assign('/login')" style="position:fixed; top:450px;left:575px">LOGIN</button>
				<button class="btn btn-primary" onclick="location.assign('/signup')" style="position:fixed; top:450px;left:725px">SIGNUP</button>
			</div>
		</div>
	</div>
</body>
</html>